.treeNode{
    // fill me in
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    margin: 5px;
    padding: 1px;  
}
.treeNode .empty {
    background-color:palevioletred !important;
}
.OutputContainer>.treeNode{
    padding: auto;
}

.treeNode > .nodeId{
    font-weight: bold;
    font-size: 10px;
    color: white;
}

.deeperNode{
    border: 5px dashed  blue;
}
.nodeChildren{
    //fill me in
    //border: 1px solid #e2e597;
    padding: 10px 0;
}

.nodeChildren > .treeNode{
    margin-right: 5px;
}