.treeNode{
    // fill me in
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid blue;
    padding: 1px;  
}
.OutputContainer>.treeNode{
    width: 100% !important;
    padding: auto;
}

.treeNode > .nodeId{
    font-weight: bold;
    font-size: 10px;
}

.nodeId > .treeNode{

}

.nodeChildren{
    //fill me in
    border: 1px solid #e2e597;
    padding: 10px 0;
}

.nodeChildren > .treeNode{
    margin-right: 5px;
}